* {
  font-family: 'Poppins';
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--container-width);
  padding: 6rem 1rem;
  background-color: white;
  display: flex;
}

.leftColumn {
  flex: 2;
  display: flex;
  gap: 4rem;
  flex-direction: column;
}

.rightColumn {
  @extend .leftColumn;
  flex: 1;
  align-items: flex-end;
}

.blogCategoryMenuItem {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}