* {
  font-family: 'Poppins';
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--container-width);
  padding: 6rem 1rem;
  background-color: white;
  display: flex;
}

.latestBlogsContainer {
  @extend .container;
  gap: 1rem;
}

@media (width < 769px) {
  .latestBlogsContainer {
    flex-direction: column;
    align-items: center;
  }
}

;

.leftColumn {
  flex: 4;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.rightColumn {
  @extend .leftColumn;
  flex: 1;
  align-items: flex-end;
  display: flex;
  gap: 3rem;
}

@media (width < 769px) {
  .rightColumn {
    padding-top: 2rem;
  }
}

;

.blogCategoryMenuItem {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}

.recipesContainer {
  @extend .container;
  max-width: var(--container-width);
  width: auto;
}

.difficultiesContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.difficulty {
  border-width: 0px;
  color: #333;
  background-color: transparent;
  font-size: 1.25rem;
}