* {
  font-family: 'Poppins';
  margin: 0;
}

.recipeContainer {
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px
}

.title {
  background-color: white;
  color: black;
  padding: 0.5rem 0.5rem;
}

.difficulty {
  padding:  0 0.5rem;
  background-color: black;
  color: white;
}