* {
  font-family: 'Poppins';
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 250px;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.difficulty {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  max-width: fit-content;
}

.title {
  font-weight: 500;
  font-size: 1rem;
}