* {
  font-family: 'Poppins';
  font-weight: 500;
}

.section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.outerContainer {
  display: flex;
  gap: 1rem;
  height: 800px
}

.recipeContainer {
  display: flex;
  padding: 2rem 1.5rem;
  flex-direction: column;
  justify-content: flex-end;
}

.title {
  font-size: 1.75rem;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0.5rem 1rem;
  
};

.difficulty {
  font-size: 0.9rem;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: inline-flex;
};

.mobileLayoutContainer {
  height: 400px;
  display: flex;
}

.recipesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.gridItem {
  height: 500px;
  display: flex;
}

.gridItem:nth-child(1) {
  grid-column: span 2 ;
}

.gridItem:nth-child(2) {
  grid-column: span 1 ;
}

.gridItem:nth-child(4) {
  grid-column: span 2 ;
}

// Responsiveness
@media (max-width: 997px) {
  .category {
    font-size: 0.8rem;
  };
  .title {
    font-size: 1.25rem;
  };
  .outerContainer {
    height: 600px;
  }
  .gridItem {
    height: 400px;
  }
};

@media (max-width: 770px)  {
  .category {
    font-size: 0.7rem;
  };
  .title {
    font-size: 1rem;
  };
  .outerContainer {
    height: 500px;
  }
  .gridItem {
    height: 350px;
  }
};

@media (max-width: 577px) {
  .gridItem {
    height: 350px;
  }
  .recipesGrid {
    grid-template-columns: 1fr;
  }
  .gridItem:nth-child(1) {
    grid-column: span 1 ;
  }
  
  .gridItem:nth-child(2) {
    grid-column: span 1 ;
  }
  
  .gridItem:nth-child(4) {
    grid-column: span 1 ;
  }
}