* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.siteTitle {
  font-family: 'Courgette';
  text-decoration: none;
  font-size: 1.5rem;
}

.siteTitle:visited {
  text-decoration: none;
  color: white;
}

.nav {
  background-color: #121212;
  align-items: center;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center; /* Center horizontally */
}

.nav li { 
  list-style: none;
  display: flex;
  gap: 2rem;
}

.container {
  display: flex;
  align-items: center;
  width: var(--container-width);
  justify-content: space-between;
  padding: 0 1rem;
}

.hoverUnderlineAnimation:hover {
  color: var(--primary-color)
}

/* Hover animation */
.hoverUnderlineAnimation {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Poppins';
}

.hoverUnderlineAnimation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon {
  display: none;
}

.menuItems {
  display: block;
  padding: 0;
}

.iconAndTitleContainer {
  display: flex;
  gap: 1rem;
  justify-self: center;
}

@media (width < 577px) {
  .icon {
    display: inline-block;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .menuItems li {
    flex-direction: column;
  }
}