* {
  font-family: 'Poppins';
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  gap: 0.5rem;
}

.image {
  border-radius: 4px;
  flex: 1;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.title {
  font-size: 0.9rem;
  line-height: 175%;
  margin: 0;
  /* Truncate the text */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 769px) {
 .container {
  flex-direction: row;
  height: 150px;
  gap: 1rem;
  }
  .infoContainer {
    flex: 3;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }
}