* {
  font-family: 'Poppins';
  line-height: 175%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.titleContainer {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 3px var(--primary-color) solid;
}

.stepContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
}